<!DOCTYPE html>
<html lang="pl"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee New Form</title>
</head>
<body>
<h1>Dodawanie pracownika</h1>
<div th:replace="fragments :: navigator"></div>

<form th:action="@{/employee/add}" th:method="post" th:object="${newEmployee}">


    Imie: <input th:field="*{name}"/>
    <br/>
    Nazwisko: <input th:field="*{lastName}"/>
    <br/>
    Stanowisko: <input th:field="*{position}"/>
    <br/>
    Oddział: <select th:field="*{departmentId}">
    <option th:each="oddzial : ${departments}"
    th:value="${oddzial.id}"
    th:text="${oddzial.city}"/>

</select>

    <input type="submit">

</form>

</body>
</html>